<h1>Stupid coaching</h1>

<h3>Ask your coach anything:</h3>


<form action="http://localhost:3000/answer?question={input.name}">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<%= @answer %>
